@import 'plugins/plugins', 'plugins/fullcalendar', 'base';

#root {
  min-height: 100% !important;
}


#login-img-area {
  background-image: url("/img/login-visual-1.svg");
}

@media (max-width: 992px) {
  #login-left-area {
    display: none !important;
  }
}


.modal-body{
  background-color: transparent!important;
}

.fc-daygrid-day-number {
  background: #eaeaea;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: bold;
  text-align: right;

  &:hover {
    background: #cecece;

  }
}

.fc-daygrid-event {
  cursor: pointer;
}
