@import 'plugins/plugins', 'plugins/fullcalendar', 'base';

$mainColor: #f64e60;
$mainColorOpacity: rgba(246, 78, 96, 0.1);

#root {
  min-height: 100% !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-left: 5px;
}

::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
}

#login-img-area {
  background-image: url("/img/login-visual-1.svg");
}

@media (max-width: 992px) {
  #login-left-area {
    display: none !important;
  }
}

.toogleCloseBtn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 55;
}

.modal-body {
  background-color: transparent !important;
}

.fc-daygrid-day-number {
  background: #eaeaea;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: bold;
  text-align: right;

  &:hover {
    background: #cecece;

  }
}

.fc-daygrid-event {
  cursor: pointer;
}


.search-box {
  position: relative;

  .multi-area {
    position: relative;


    i {
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }

  label {
    width: 100%;
  }

  .search-input {
    position: relative;

    input {
      cursor: pointer;
    }

    i {
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .list-area {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 999;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 3px 28px -15px rgba(0, 0, 0, 0.75);

    li {
      padding: 5px 10px;
      border-bottom: 1px solid #d9d8d8;
      cursor: pointer;

      &:hover {
        background-color: $mainColorOpacity;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }


}

.btn-show-password {
  position: absolute;
  right: 10px;
  bottom: 24px;
}

.address-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 120ms;

    &:hover {
      box-shadow: 0 6px 34px -22px rgba(0, 0, 0, 0.75);
    }
  }
}


.users-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 120ms;

    &:hover {
      box-shadow: 0 6px 34px -22px rgba(0, 0, 0, 0.75);
    }
  }
}

.file-uploader {
  width: 100%;
  border: 2px dashed #b3b0b0;
  cursor: pointer;

}


.dropdown-checbox {
  opacity: 0;

  & + .dropdown-menu {
    transition: all 120ms;
    right: 20px;
  }

  &:checked {
    & + .dropdown-menu {
      display: block;
    }
  }

  &:not(:focus) {
    & + .dropdown-menu {
      display: none;
    }
  }
}


